.carousel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carousel-image img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
    margin: 20px 0;
    background-color: transparent;
}
.sizes{
    display: flex;
}
.carousel-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
}

.carousel-button:hover {
    background-color: #45a049;
}

.carousel-info {
    font-size: 18px;
    color: #333;
    text-align: center;
}



.div-size{
    height: 100vh;
}